@use "../utils/functions/"as*;
@use "../utils/mixins"as*;

.policy {
  padding-top: rem(80);

  &__inner {
    background-color: var(--color-gray-bg);
    padding: 40px;
    border-radius: var(--radius-double);
  }

  h1 {
    margin-bottom: rem(40);
    font-size: clamp(32px, 1.6176rem + 1.3vi, 56px);
    font-weight: var(--fw-800);
    color: var(--color-blue);
  }

  p {
    font-size: 20px;

    &:not(:last-child) {
      margin-bottom: rem(25);
    }
  }

  @include media(tablet) {
    padding-top: rem(60);
  }

  @include media(mobile-l) {
    padding-top: rem(40);
  }
}